GOOGLE_WEB_CLIENT_ID=your_web_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_client_secret
GOOGLE_DESKTOP_CLIENT_ID=your_desktop_client_id.apps.googleusercontent.com

# Firebase — dùng chung
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_MESSAGING_SENDER_ID=your_sender_id
FIREBASE_STORAGE_BUCKET=your_project_id.firebasestorage.app
FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com

# Android
FIREBASE_ANDROID_API_KEY=your_android_api_key
FIREBASE_ANDROID_APP_ID=1:your_sender_id:android:your_app_hash

# iOS
FIREBASE_IOS_API_KEY=your_ios_api_key
FIREBASE_IOS_APP_ID=1:your_sender_id:ios:your_app_hash
FIREBASE_IOS_BUNDLE_ID=com.example.your_app

# macOS
FIREBASE_MACOS_API_KEY=your_macos_api_key
FIREBASE_MACOS_APP_ID=1:your_sender_id:ios:your_app_hash
FIREBASE_MACOS_BUNDLE_ID=com.example.your_app

# Web
FIREBASE_WEB_API_KEY=your_web_api_key
FIREBASE_WEB_APP_ID=1:your_sender_id:web:your_app_hash
FIREBASE_WEB_MEASUREMENT_ID=G-XXXXXXXXXX

# Windows
FIREBASE_WINDOWS_API_KEY=your_windows_api_key
FIREBASE_WINDOWS_APP_ID=1:your_sender_id:web:your_app_hash
FIREBASE_WINDOWS_MEASUREMENT_ID=G-XXXXXXXXXX
